// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  width: 100%;
  background-color:#2c3e50;
  text-align: center;
}

.function {
  background-color: #e9e9e9;
  padding: 80px
}

// .function-images {
//   width: 100%;
//   display: table;
//   margin-top: 60px;
//   table-layout: fixed;
// }

// .function-image {
//   display: table-cell;
//   width: 100%
// }

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("header.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 16%;
}

.about {
  background-color: white;
  color: #333;
  /*padding-top: 20px;*/
  /*padding-bottom: 40px;*/
  padding: 80px;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0;
  color: white;
  margin: auto;
  padding-bottom: 15px;
  font-size: 12px;
}

// footer 下部固定

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 75px;
  text-align: center;
}

footer {  /*<footer class="footer">*/
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 75px;
  // background-color: #f5f5f5;
}

.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover {
  opacity: 0.7;
  }
}

.navbar-default {
    border: 0;
    padding: 5px 25px;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #e9e9e9;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #e9e9e9;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e9e9e9;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.flash {
  color: white;
  padding-top: 10px;
}
