// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  width: 100%;
  background-color:#2c3e50;
  text-align: center;
}

header ul {
  margin: 0 auto;
  list-style: none;
  /*width: 80%;*/
  /*padding: 0;*/
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}


header ul:after {
  content: "";
  display: block;
  clear: both;
}

header li {
  float: left;
  /*width: auto;*/
}

.function {
  background-color: #e9e9e9;
  padding: 80px
}

// .function-images {
//   width: 100%;
//   display: table;
//   margin-top: 60px;
//   table-layout: fixed;
// }

// .function-image {
//   display: table-cell;
//   width: 100%
// }




.main-header {
  padding-top: 16%;
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("header.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

.about {
  background-color: white;
  color: #333;
  /*padding-top: 20px;*/
  /*padding-bottom: 40px;*/
  padding: 80px;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0;
  color: white;
  margin: auto;
  padding-bottom: 15px;
  font-size: 12px;
}

// footer 下部固定

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 75px;
  text-align: center;
}

footer {  /*<footer class="footer">*/
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 75px;
  // background-color: #f5f5f5;
}
