<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <ul>
      <li><a href="#">Achieve</a></li>
      <li><a href="#">トップページ</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">ブログ</a></li>
    </ul>
  </header>

<%= yield %>

    <footer>
    <p>運営会社タイムシフト株式会社</p><p>© 2015-2016 Copyright TimeShift Corp.</p>
  </footer>

</body>
</html>
